{% extends 'base.html' %} {% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" id="demo">
            google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Term');
      data.addColumn('number', 'Your GPA');
      data.addRows([
        [1, {% for listGPA in datagpagraph_term1 %}
              {{listGPA}}
            {% endfor %}+0],
        [2, {% for listGPA in datagpagraph_term2 %}
              {{listGPA}}
            {% endfor %}+0],
        [3, {% for listGPA in datagpagraph_term3 %}
              {{listGPA}}
            {% endfor %}+0],
        [4, {% for listGPA in datagpagraph_term4 %}
              {{listGPA}}
            {% endfor %}+0],
        [5, {% for listGPA in datagpagraph_term5 %}
              {{listGPA}}
            {% endfor %}+0],
        [6, {% for listGPA in datagpagraph_term6 %}
              {{listGPA}}
            {% endfor %}+0],
        [7, {% for listGPA in datagpagraph_term7 %}
              {{listGPA}}
            {% endfor %}+0],
        [8, {% for listGPA in datagpagraph_term8 %}
              {{listGPA}}
            {% endfor %}+0],
      ]);

      var options = {
        chart: {
          title: 'GPA Graph',
          subtitle: 'You grade that you submited will be display in line chart)'
        },
        width: 1300,
        height: 500
      };

      var chart = new google.charts.Line(document.getElementById('linechart_material'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }

    </script>
        <body>
    <div id="linechart_material" style="width: 1300px; height: 500px"></div>
        <h3>Your GPAX : {{Result_gpax}}<h3>
  </body>

{% endblock %}
